*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 90vh;
}

.container{
    display: grid;
    grid-template-columns: 350px auto;

}

.header{
    height: 150px;
    background-color: aqua;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: fr1 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.header > .search{
    grid-column-start:1 ;
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search> input{
    height: 30px;
    width: 550px;
    border-radius: 9px;
    border-style: none;
}

.header > .greeting{
    grid-column-start:1 ;
    grid-row-start: 2;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 50px;
    gap:10px;
    padding-bottom: 10px;
}

.header > .avatar{

    grid-column-start:2 ;
    grid-row-start: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
    gap:20px;
    font-size: 20px;
}

.header > .buttons{
    grid-column-start:2 ;
    grid-row-start: 2;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
    margin-right: 40px;
    padding-bottom: 10px;
}

button{
    height: 40px;
    width: 80px;
    background-color:rgb(63, 178, 216);
    border-radius: 9px;
    color: white;
    border-style: none;
}


.sidebar{
    background-color: aquamarine;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content{
    background-color: antiquewhite;
    grid-column-start: 2;
    grid-row-start: 2;
}