*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 90vh;
}

.container{
    display: grid;
    grid-template-columns: 250px auto;

}

.header{
    height: 150px;
    background-color: white;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.header > .search{
    grid-column-start:1 ;
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 50px;
}

.search> input{
    height: 30px;
    width: 550px;
    border-radius: 9px;
    border-style: none;
    background-color: rgba(210, 214, 218, 0.945);
}

.header > .greeting{
    grid-column-start:1 ;
    grid-row-start: 2;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 50px;
    gap:10px;
    padding-bottom: 10px;
}

.header > .avatar{

    grid-column-start:2 ;
    grid-row-start: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
    gap:20px;
    font-size: 20px;
}

.header > .buttons{
    grid-column-start:2 ;
    grid-row-start: 2;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
    margin-right: 40px;
    padding-bottom: 10px;
}

button{
    height: 30px;
    width: 80px;
    background-color:rgb(105, 205, 239);
    border-radius: 9px;
    color: white;
    border-style: none;
}

.sidebar{
    background-color: rgb(105, 205, 239);;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.sidebar > .social-links{
    display: grid;
    margin-left: 20px;
}

.sidebar > .useful-links{
    margin-top: 50px;
    display: grid;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.sidebar-item{
    margin-bottom: 20px;
    font-weight: bold;
}

.sidebar .logo{
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 30px 20px;
}

a{
    padding-left: 10px;
}


.content{
    background-color: rgb(230, 228, 227);
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 50px 20px 50px 20px;
}

.projects{
    grid-column-start:1 ;
    grid-row-start:1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.project{
    border-left: 5px solid rgb(255, 132, 0);
    background-color: white;
    width: 420px;
    height: 150px;
    border-radius: 9px;
    display: grid;
    grid-template-columns: 3fr 1fr / 1fr;
    justify-content: space-evenly;
    padding-top: 50px;
    text-wrap: wrap;
}

.project-text{
    text-wrap: wrap;
    margin-left: 10px;
}

.icons{
    grid-column-start: 2 ;
    grid-row-start: 2;
}

span{
    font-weight: bolder;
}

.announcements{
    background-color: white ;
    grid-column-start:2 ;
    grid-row-start: 1;
    height: 250px;
    border-radius: 9px;
    display: grid;
    font-size: 13px;
    grid-template-rows: 1fr 1fr 1fr;
}

.announcement{
    padding:20px 40px 20px 40px ;
    text-wrap:wrap;
}

.trending{
    background-color: white ;
    grid-column-start:2 ;
    grid-row-start: 2;
    border-radius: 9px;
    display: grid;
}

.trend{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    gap: 30px;
    font-weight: 100;
}

/* absolute position titluri content*/